.community {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.info {
    color: #232323;
}

.title {
    padding-left: 10px;
    margin: 0;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    padding-top: 10px;
}

.about {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    padding-left: 10px;
    width: 772px;
}

.adress {
    margin: 0;
    padding-bottom: 18px;
    padding-left: 10px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.buttons {
    display: flex;
    column-gap: 25px;
}

.buttonDetail {
    padding: 10px 40px 10px 40px;
    background-color: #FFD670;
    border: none;
    border-radius: 20px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
}

.buttonWebsite {
    padding: 10px 40px 10px 40px;
    border: 2px solid #70A9FF;
    background-color: white;
    border-radius: 20px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .about {
        width: 534px;
    }

    .image {
        width: 366px;
        height: 294px;
        object-fit: cover;
        border-radius: 10px;
    }

    .buttonDetail {
        padding: 8px 40px 8px 40px;
        font-size: 14px;
        line-height: 18px;
    }

    .buttonWebsite {
        padding: 2px 40px 5px 40px;
        font-size: 14px;
        line-height: 18px;
    }

    .adress {
        padding-bottom: 27px;
    }
}

@media screen and (min-width: 360px) and (max-width: 1000px) {
    .community {
        flex-direction: column-reverse;
    }

    .title {
        padding-top: 14px;
    }

    .about {
        width: 320px;
        padding-bottom: 13px;
    }

    .image {
        width: 320px;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }

    .buttons {
        flex-direction: column;
        row-gap: 8px;
        width: 320px;
    }

    .buttonDetail {
        padding: 11px 83px 11px 83px;
        font-size: 14px;
        line-height: 18px;
    }

    .buttonWebsite {
        padding: 11px 83px 8px 83px;
        font-size: 14px;
        line-height: 18px;
    }

    .adress {
        font-size: 14px;
        line-height: 18px;
    }
}