.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    column-gap: 25px;
}

.title {
    font-family: Palatino Linotype;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 69px;
}

.search {
    display: flex;
    column-gap: 42px;
    padding-bottom: 32px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .main {
        width: 940px;
    }

    .search {
        column-gap: 33px;
    }
}
@media screen and (min-width: 360px) and (max-width: 1000px) {
    .main {
        width: 320px;
    }
    .search {
        flex-direction: column;
        column-gap: 0px;
        row-gap: 16px;
    }
    .title {
        padding-bottom: 36px;
    }
}