@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.ttf');
    src: local('Mulish-Bold'), local('Mulish-Bold'),
        url('Mulish-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Regular.ttf');
    src: local('Mulish-Regular'), local('Mulish-Regular'),
        url('Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}